{% extends "_base.html" %} {% load humanize %} {% load static %} {% block content %}
<section class="bg-white py-8 pt-36 antialiased dark:bg-gray-900 md:py-40" dir="rtl">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="mx-auto max-w-md shrink-0 lg:max-w-lg">
        <img class="w-full rounded-lg shadow" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/placeholder.png' %}{% endif %}" alt="{{ product.name }}" />
      </div>

      <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">{{ product.name }}</h1>
        <div class="mt-4 sm:flex sm:items-center sm:gap-4">
          <p class="text-2xl font-extrabold text-gray-900 dark:text-white sm:text-3xl"> 
            {% if product.price_aed %} 
                {{ product.price_aed|intcomma }} 
            {% else %} 
                غير متوفرة تفاصيل حالياً. 
            {% endif %} 
            د.إ 
            <br /> 
            {% if product.price_iqd %} 
                {{ product.price_iqd|intcomma }} 
            {% else %} 
                غير متوفرة تفاصيل حالياً. 
            {% endif %} 
            د.ع 
        </p>
        </div>

        <hr class="my-6 border-gray-200 dark:border-gray-800 md:my-8" />

        <p class="mb-6 text-gray-500 dark:text-gray-400">وصف المنتج:</strong> {% if product.description %} {{ product.description }} {% else %} غير متوفرة تفاصيل حالياً. {% endif %}</p>

        <!-- Display Additional Product Details -->
        <p class="text-gray-500 dark:text-gray-400">
          <strong>القياسات المتوفرة:</strong> {% if product.available_sizes %} {{ product.available_sizes }} {% else %} غير متوفرة تفاصيل حالياً. {% endif %}<br />
          <strong>الالوان المتوفرة:</strong> {% if product.available_colors %} {{ product.available_colors }} {% else %} غير متوفرة تفاصيل حالياً. {% endif %}<br />
          <strong>مدة انجاز الطلب:</strong> {% if product.processing_time %} {{ product.processing_time }} {% else %} غير متوفرة تفاصيل حالياً. {% endif %}<br />
        </p>

        <div class="mt-6 sm:mt-8 sm:flex sm:items-center sm:gap-4">
          <a href="{% url 'home:product_contact_us' product.slug %}" title="" class="mt-4 flex items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:mt-0" role="button">
            <svg class="-ms-2 me-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
            </svg>

            اتصل بنا
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% if show_modal %}
<div id="successModal" tabindex="-1" class="fixed left-0 right-0 top-0 z-50 flex h-modal w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0 md:h-full">
  <div class="relative h-full w-full max-w-md p-4 md:h-auto">
    <div class="relative rounded-lg bg-white p-4 text-center shadow dark:bg-gray-800 sm:p-5">
      <button type="button" class="absolute right-2.5 top-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="successModal">
        <svg aria-hidden="true" class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close modal</span>
      </button>

      {% if messages %}
      <div class="mx-auto mb-3.5 flex h-12 w-12 items-center justify-center rounded-full bg-green-100 p-2 dark:bg-green-900">
        <svg aria-hidden="true" class="h-8 w-8 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Success</span>
      </div>
      {% for message in messages %}
      <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">{{ message }}</p>
      {% endfor %} {% endif %}
      <a href="{% url 'home:products' %}" type="button" class="rounded-lg bg-primary-600 px-3 py-2 text-center text-sm font-medium text-white hover:bg-primary-700 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"> هل تريد رأيت المزيد من منتجاتنا </a>
    </div>
  </div>
</div>
{% endif %} {% endblock content %}
