{% extends "dashboard/_dashboard.html" %} {% load static i18n %} {% block extra_content %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
<table class="w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right">
    <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-3">{% trans "اسم المنتج" %} <span class="sr-only">(current)</span></th>
        <th scope="col" class="px-6 py-3">{% trans "صورة المنتج" %}</th>
        <th scope="col" class="px-6 py-3">{% trans "السعر (IQD)" %}</th>
        <th scope="col" class="px-6 py-3">{% trans "السعر (AED)" %}</th>
        <th scope="col" class="px-6 py-3">{% trans "المقاسات المتوفرة" %}</th>
        <th scope="col" class="px-6 py-3">{% trans "الألوان المتوفرة" %}</th>
        <th scope="col" class="px-6 py-3">{% trans "مدة تجهيز الطلب" %}</th>
        <th scope="col" class="px-6 py-3">{% trans "مميز" %}</th>
        <th scope="col" class="px-6 py-3">{% trans "المنتج ظاهر" %}</th>
        <th scope="col" class="px-6 py-3">{% trans "إجراءات" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr class="border-b odd:bg-white even:bg-gray-50 dark:border-gray-700 odd:dark:bg-gray-900 even:dark:bg-gray-800">
        <td class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">{{ product.name|truncatechars:10 }}</td>
        <td class="px-6 py-4">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 60px; max-height: 60px;" class="rounded" />
        {% else %} No Image {% endif %}
        </td>
        <td class="px-6 py-4">{{ product.price_iqd }}</td>
        <td class="px-6 py-4">{{ product.price_aed }}</td>
        <td class="px-6 py-4">{{ product.available_sizes|truncatechars:10 }}</td>
        <td class="px-6 py-4">{{ product.available_colors|truncatechars:10 }}</td>
        <td class="px-6 py-4">{{ product.processing_time|truncatechars:10 }}</td>
        <td class="px-6 py-4">
          {% if product.is_featured %}
            <span class="font-medium text-green-500"> نعم </span> 
          {% else %}
            <span class="font-medium text-red-500"> لا </span> 
          {% endif %}
        </td>
        <td class="px-6 py-4">
          {% if product.is_active %}
            <span class="font-medium text-green-500"> نعم </span> 
          {% else %}
            <span class="font-medium text-red-500"> لا </span> 
          {% endif %}
        </td>
        <td class="px-6 py-4">
        <a href="{% url 'home:product_edit' product.id %}" class="mb-2 me-2 block rounded-lg bg-yellow-400 px-3 py-1 text-center text-sm font-medium text-white hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 dark:focus:ring-yellow-900">{% trans "تعديل" %}</a>
        <a href="{% url 'home:product_delete' product.id %}" class="mb-2 me-2 block rounded-lg bg-red-700 px-3 py-1 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">{% trans "حذف" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<div data-dial-init class="group fixed bottom-6 start-6">
    <a href="{% url "home:product_create" %}" type="button" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex h-14 w-14 items-center justify-center rounded-full bg-primary-700 text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
        <svg class="h-5 w-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
        <span class="sr-only">Open actions menu</span>
    </a>
</div>

{% endblock %}
